<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food and Travel With Me!</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="profile.css" />
  </head>
  <body>
    <header class="header">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/profile">        <img src="images/logo.png" width="190px" alt="" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/profile">Feed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/recommendations">Recommendations</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/settings">Settings</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="container-fluid gedf-wrapper">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <img src="<%= currentUserPage.profileImage %>" class="rounded-circle"
              width="45px"
              height="45px">
              <div class="h5">@<%= currentUserPage.userName %></div>
              <div class="h7 text-muted">email : <%= currentUserPage.email %></div>
              <div class="h7">
                Developer of web applications, JavaScript, PHP, Java, Python,
                Ruby, Java, Node.js, etc.
              
              </div>
              <% if (user && currentUserPage && String(user._id) !== String(currentUserPage._id)) { %>
                <a href="/chatPage/<%= user._id %>-<%= currentUserPage._id %>"><button  class="btn btn-space btn-success" type="submit"><i class="fa fa-envelope"> </i>Message/Dm </button></a>

                <% if (user && user.following && user.following.includes(String(currentUserPage._id))) { %>
                  <form
                  action="/unfollow/<%= currentUserPage._id %>?_method=DELETE"
                  method="POST"
                >
                  <button  class="btn btn-space btn-danger" type="submit">Unfollow </button>
                </form>
                  
                <% } else { %>
                  <form
                  action="/follow/<%= currentUserPage._id %>?_method=POST"
                  method="POST"
                >
                  <button  class="btn btn-space btn-primary" type="submit">Follow </button>
                </form>
                  
                <% } %>
              <% } %>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h6 text-muted">Followers</div>
                <div class="h5"><%= currentUserPage.followers.length %></div>
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">Following</div>
                <div class="h5"><%= currentUserPage.following.length %></div>
              </li>
            </ul>
          </div>
        </div>



        <div class="col-md-6 gedf-main">
         
          <% for(var i=0; i<posts.length; i++) {%>

            <div class="card gedf-card">
              <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="mr-2">
                      <img
                        class="rounded-circle"
                        width="45px"
                        height="45px"
                        src="<%= posts[i].profileImage %>"
                        alt=""
                      />
                    </div>
                    <div class="ml-2">
                      <div class="h5 m-0">@<%= posts[i].userName %></div>
                      <div class="h7 text-muted"><%= posts[i].email %></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="text-muted h7 mb-2">
                  <i class="fa fa-clock-o"></i><%- posts[i].createdAt.toString().split("G")[0]-%>
                </div>
                
                
                <% if(posts[i].image != "none") {%>
                  <img
                  src="<%= posts[i].image %>"
                  alt=""
                  width="300px"
                  
                />
                 <% } %>
                <p class="card-text">
                  <%= posts[i].postText %>
                </p>
                <h5><%= posts[i].userName %>'s rating for this destination:</h5>

                    <% for (var j=0; j<posts[i].stars; j++) { %>
                      <i class="fa fa-star"></i>
                  <% } %>
              </div>
              <div class="card-footer">

                <form
                action="/post/likePost/<%= posts[i]._id %>?_method=PUT"
                method="POST"
              >
              <button class="btn2" type="submit"><i class="fa fa-heart"></i> <%= posts[i].likes %></button>
              </form>


                
                <% if (user.email=== posts[i].email || user.email=== 'koshin@gmail.com') { %>

                  <form action="/post/deletePost/<%= posts[i]._id %>?_method=DELETE"
                    method="POST">
                    
                    <button class="btn2 fa fa-trash " type="submit">Delete</button>
                  </form>
                  <%} else { %>
                  
                  <% } 
                  %>
                
                <a href="#" class="card-link"
                  ><i class="fa fa-mail-forward"></i> Save</a
                >
              </div>
            </div>
 
           <% } %>
         
















        </div>

        <div class="col-md-3">
          <div class="card gedf-card">
            <div class="card-body">
              <h5 class="card-title">Followers</h5>
              <% allUsers.forEach(follower => { %>
                <% if (currentUserPage.followers.includes(follower._id)) { %>
                <div class="follower">
                  <img src="<%= follower.profileImage %>" width="45px" height="45px"  alt="Profile Image" class="rounded-circle">
                  <a href="/<%= follower._id %>"><%= follower.userName %></a>
                </div>
                <br>
                <% } %>
              <% }) %>
            </div>
            <div class="card-body">
              <h5 class="card-title">Following</h5>
              <% allUsers.forEach(follower => { %>
                <% if (follower.followers.includes(currentUserPage._id)) { %>
                <div class="follower">
                  <img src="<%= follower.profileImage %>" width="45px" height="45px"  alt="Profile Image" class="rounded-circle">
                  <a href="/<%= follower._id %>"><%= follower.userName %></a>
                </div>
                <br>
                <% } %>
              <% }) %>
            </div>
            
          </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="d-flex flex-column align-items-center">
          <div class="mb-3">
            <a
              href="https://twitter.com/Koshinpro"
              target="_blank"
              rel="noopener noreferrer"
              class="mx-2"
              ><i class="bi bi-twitter"></i
            ></a>
            <a
              href="https://www.linkedin.com/in/koshin-mohamed"
              target="_blank"
              rel="noopener noreferrer"
              class="mx-2"
              ><i class="bi bi-linkedin"></i
            ></a>
            <a
              href="https://github.com/Koshin-M-Mohamed"
              target="_blank"
              rel="noopener noreferrer"
              class="mx-2"
              ><i class="bi bi-github"></i
            ></a>
          </div>
          <p>
            &copy; 2023 Travel Haven- All Rights Reserved.
          </p>
        </div>
      </div>
    </footer>

    <script src="main.js"></script>
  </body>
</html>
